.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .encryptResult {
        max-width: 100%;
        word-wrap: break-word;
  }
  
  .decryptResult {
    margin-top: 10px;
  }